input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-moz-number-spin {
  appearance: none;
}
#name,#name1,#name2,#name3,#name4 {
  border: none;
  border-bottom: 1px solid #ccc; /* Adjust color and thickness as needed */
  outline: none; /* Remove default outline on focus */
  margin-bottom: 20px;
  position: relative;
  top: 10px;
 
}
/* #blo,#blo2{
  padding-left: 93px;
  justify-content: start;
  align-items: start;
} */
#name:focus,#name1:focus,#name2:focus,#name3:focus,#name4:focus {
  box-shadow: none; /* Prevent default focus shadow (optional) */
}
.input-container {
  display: grid;
  grid-template-columns: auto 1fr;  /* Define columns: icon, remaining space */
  grid-template-rows: auto;  /* Single row for now */
}

.input-container div:nth-child(2) {  /* Target the input (2nd child) */
  grid-column: 2;  /* Place it in the second column (remaining space) */
}

